<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Christian Winkler">
  <link rel="stylesheet" href="../styles/bundle.min.css">
  <title>{{title}} - Christian Winklers Blog</title>
</head>
<body>
<header>
  <h1><a href="/">Christian Winklers Blog</a></h1>
  <p>Über Softwareentwicklung, Filme und was mich sonst noch so bewegt</p>
</header>
<main>
<div><time datetime="{{isoDate published}}">{{fullDate published}}</time></div>
{{{htmlBody}}}
</main>
<footer>
  <a href="../impressum.html">Impressum und Datenschutz</a> | Dieses Werk ist lizenziert unter einer <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Namensnennung 4.0 International Lizenz</a>.
</footer>
</body>
</html>
