{{#> layout }}
<ul class="index">
  {{#each articles}}
  <li>
    <time datetime="{{isoDate published}}">{{isoDate published}}</time> &mdash; <a href="{{name}}/">{{title}}</a>
  </li>
  {{/each}}
</ul>
{{/layout}}
